@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticleItem>
@{
	Layout = "Master.cshtml";
}

    <div class="container">

        <h1>
            @Model.ArticleTitle

        </h1>

        <p>
            @Model.ArticleContent


        </p>
    </div>

