@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.JobsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="container  mt-5">
    <h1>

        @Model.JobsTitle
    </h1>
    <p>
        @Model.JobsContent
    </p>





</div>

