@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectItem>
@{
	Layout = "Master.cshtml";
}
    <div class="container  mt-5">
        <h1>

            @Model.ProjectTitle
        </h1>


        <p>

            @Model.ProjectDescription
        </p>

     



    </div>

